<!--templates/base.html-->

<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Draft</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>

<body>
    <h1>Draft</h1>

    {% block content %}
    <form action="{% url 'pick_ban' %}{{ lobby }}" method="post">{% csrf_token %}
        <!-- <input name="champion" type="text" placeholder="Champ..."> -->
        <input type="submit" value="Create draft" />
    </form>
    {% for image in images %}
    <div style="display:inline-block"><img src="{{ image }}" height='100px' width='100px' style='padding-right: 6px' />
    </div>
    {% endfor %}
    {% endblock %}
</body>

</html>
