<!--templates/draft.html-->

<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Draft</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>

<body>
    <map onclick="window.location.href='/';">
        <h1>Draft</h1>
    </map>
    {% block content %}
    <form action="{% url 'pick_ban' %}{{ lobby }}" method="post">{% csrf_token %}
        <input name="champion" type="text" placeholder="Champ...">
        <input type="submit" value="Enter" />
    </form>
    <p><strong>{{ error }}</strong></p>
    <table>
        <tr>
            <th>Blue</th>
        </tr>
        <tr>
            {% for image in blue_ban %}
            <td>
                <div><img src="{{ image }}" height='20px' width='20px' /></div>
            </td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                <div><img src="{{ blue1 }}" height='100px' width='100px'
                        style='padding-right: 6px' /></div>
            </td>
        <tr>
        <tr>
            <td>
                <div><img src="{{ blue2 }}" height='100px' width='100px'
                        style='padding-right: 6px' /></div>
            </td>
        </tr>
        <tr>
            <td>
                <div><img src="{{ blue3 }}" height='100px' width='100px'
                        style='padding-right: 6px' /></div>
            </td>
        </tr>
        <tr>
            <td>
                <div><img src="{{ blue4 }}" height='100px' width='100px'
                        style='padding-right: 6px' /></div>
            </td>
        </tr>
        <tr>
            <td>
                <div><img src="{{ blue5 }}" height='100px' width='100px'
                        style='padding-right: 6px' /></div>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Red</th>
        </tr>
        <tr>
            {% for image in red_ban %}
            <td>
                <div><img src="{{ image }}" height='20px' width='20px' /></div>
            </td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                <div><img src="{{ red1 }}" height='100px' width='100px'
                        style='padding-right: 6px' /></div>
            </td>
        </tr>
        <tr>
            <td>
                <div><img src="{{ red2 }}" height='100px' width='100px'
                        style='padding-right: 6px' /></div>
            </td>
        </tr>
        <tr>
            <td>
                <div><img src="{{ red3 }}" height='100px' width='100px'
                        style='padding-right: 6px' /></div>
            </td>
        </tr>
        <tr>
            <td>
                <div><img src="{{ red4 }}" height='100px' width='100px'
                        style='padding-right: 6px' /></div>
            </td>
        </tr>
        <tr>
            <td>
                <div><img src="{{ red5 }}" height='100px' width='100px'
                        style='padding-right: 6px' /></div>
            </td>
        </tr>
    </table>
    <form action="{% url 'pick_ban' %}{{ lobby }}" method="post">{% csrf_token %}
        <input name="clean" type="submit" value="New draft" />
    </form>
    {% endblock %}
</body>

</html>
