<!--templates/draft.html-->

<!DOCTYPE html>
{% load static %}
{{ champions|json_script:"champions-data"}}
<html>

<head>
    <title>Draft</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
</head>

<script type="text/javascript">
    function alert_back() {
        var answer = confirm("Discard draft and continue?")
        if (answer)
            window.location = "/";
    }
</script>

<body>
    <h1><a href="javascript:alert_back();">Draft</a></h1>
    {% block content %}
    <form autocomplete="off" action="{% url 'pick_ban' %}{{ lobby }}" method="post">{% csrf_token %}
        <div class="autocomplete" style="width:300px;">
            <input id="Champion" type="text" name="champion" placeholder="Champion...">
        </div>
        <input type="submit" value="Enter" />
    </form>
    <script type="text/javascript" src="{% static 'js/autocomplete.min.js' %}"></script>
    <p><strong>{{ error }}</strong></p>
    <p><strong>{{ draft_rotation }}</strong></p>
    <table>
        <th style="padding-right: 59px;">Blue</th>
        <th>Red</th>
        <tr>
            {% for image in blue_ban %}
            <td>
                <img src="{{ image }}" height='40px' width='40px' />
            </td>
            {% endfor %}
            {% for image in red_ban %}
            <td>
                <img src="{{ image }}" height='40px' width='40px' />
            </td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                <img src="{{ blue1 }}" height='100px' width='100px' style='padding-right: 6px' />
            </td>
            <td>
                <img src="{{ red1 }}" height='100px' width='100px' style='padding-right: 6px' />
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ blue2 }}" height='100px' width='100px' style='padding-right: 6px' />
            </td>
            <td>
                <img src="{{ red2 }}" height='100px' width='100px' style='padding-right: 6px' />
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ blue3 }}" height='100px' width='100px' style='padding-right: 6px' />
            </td>
            <td>
                <img src="{{ red3 }}" height='100px' width='100px' style='padding-right: 6px' />
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ blue4 }}" height='100px' width='100px' style='padding-right: 6px' />
            </td>
            <td>
                <img src="{{ red4 }}" height='100px' width='100px' style='padding-right: 6px' />
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ blue5 }}" height='100px' width='100px' style='padding-right: 6px' />
            </td>
            <td>
                <img src="{{ red5 }}" height='100px' width='100px' style='padding-right: 6px' />
            </td>
        </tr>
    </table>
    <form action="{% url 'pick_ban' %}{{ lobby }}" method="post">{% csrf_token %}
        <input name="clean" type="submit" value="New draft" />
    </form>
    {% endblock %}
</body>

</html>
